.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100vw - 40vw);
    margin-top: 30px;
}

.navbar-button.show-profile .navbar-text.text-profile,
.navbar-button.show-profile .navbar-icon.icon-profile {
    display: flex;
}

.navbar-button.show-profile .navbar-text.text-product,
.navbar-button.show-profile .navbar-icon.icon-product {
    display: none !important;
}

.navbar-button.show-product .navbar-text.text-profile,
.navbar-button.show-product .navbar-icon.icon-profile {
    display: none !important;
}

.navbar-button.show-product .navabr-text.text-product,
.navbar-button.show-product .navbar-icon.icon-product {
    display: flex;
}

#products {
    display: none;
}