.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin-top: 30px;
}

.navbar-button.show-profile .navbar-text.text-profile,
.navbar-button.show-profile .navbar-icon.icon-profile {
    display: flex;
}

.navbar-button.show-profile .navbar-text.text-product,
.navbar-button.show-profile .navbar-icon.icon-product {
    display: none !important;
}

.navbar-button.show-product .navbar-text.text-profile,
.navbar-button.show-product .navbar-icon.icon-profile {
    display: none !important;
}

.navbar-button.show-product .navabr-text.text-product,
.navbar-button.show-product .navbar-icon.icon-product {
    display: flex;
}

#products_info {
    display: none;
    width: -webkit-fill-available;
}

.filler {
    display: flex;
    flex-grow: 1;
}

#categories {
    width: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}