.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100vw - 40vw);
    margin-top: 30px;
}


/*
@media screen and (max-width: 900px) {}
*/