.item {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 10px;
    width: 150px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px rgba(100, 100, 255, 0.1);
    background: rgb(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.item-container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 2px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
}

.default {
    height: 50px !important;
    width: 50px;
    padding: 50px;
}

.item-image {
    height: 150px;
}

.item-container-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.item-element {
    font-size: 15px;
    font-weight: bold;
}

.description {
    font-size: 10px;
}

.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: -webkit-fill-available;
}


/* admin */

.item-button {
    display: flex;
    justify-content: center;
    width: 40px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    background: rgb(0, 0, 0, 0.15);
    color: rgb(255, 255, 255, 0.9);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 400ms;
}

.item-button.delete,
.item-button.modify {
    margin-bottom: -10px;
}

.item-button.delete:hover {
    background: rgba(255, 5, 0, 0.91);
    transition-duration: 400ms;
}

.item-button.modify:hover {
    background: rgba(55, 191, 96, 0.91);
    color: black;
    transition-duration: 500ms;
}


/*

.form-button,
.form-button-company {
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-top: 5px;
    padding: 2px 0;
    border-radius: 1px;
    color: rgb(255, 255, 255, 0.9);
    font-family: Calibri;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 500ms;
}

.form-button-company {
    flex-grow: 1;
}

.form-button:hover,
.form-button-company:hover {
    background: rgba(55, 191, 96, 0.91);
    transition-duration: 500ms;
}

.div-margin {
    width: 10px;
}

.modify {
    margin-right: 10px
}

@media screen and (max-width: 900px) {
    #products {
        width: inherit;
        min-width: unset;
    }
    .product {
        flex-direction: row;
        width: -webkit-fill-available;
        min-height: 100px;
        height: auto !important;
        float: none;
    }
    .img-box {
        float: left;
        max-width: 150px;
        min-width: 150px;
    }
    .information {
        float: left;
        width: -webkit-fill-available;
        padding: 10px;
    }
    .description {
        white-space: normal;
    }
    .bought-div {
        align-items: flex-end;
        height: 66px;
    }
}

*/