
#products {
    padding: 10px;

    min-width: 840px;
    max-width: 1050px;
}

.product {
    display: flex;
    flex-direction: column;
    float: left;

    box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 5px;

    width: 200px;
}

.img-box {
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 150px;
    overflow: hidden;
}

.image {
    max-height: 150px;
}

.default{
    width: 5vh;
    height: 5vh;
}


.information {
    background: rgb(205, 205, 205, 0.3);
    display: flex;
    flex-direction: column;

    padding: 10px;

    font-family: Calibri;
}

.name, .id { font-weight: bold; }

.company { font-size: 12px}

.description {
    box-shadow: inset 0 0 10px 5px rgb(0, 0, 0, 0.2);

    border-radius: 1px;
    margin: 2px 2px 2px 0;
    padding: 3px 10px;

    height: 20px;


}

.name , .description{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price {
    font-weight: bold;
    font-family: Consolas;
}


.bought-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px 0 5px;
}

.div-form {
    display: flex;
    flex-direction: row;
}

.form-button, .form-button-company {
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;

    margin-top: 5px;
    padding: 2px 0;
    border-radius: 1px;

    color: rgb(255, 255, 255, 0.9);
    font-family: Calibri;
    font-weight: bold;

    text-decoration: none;
    cursor: pointer;

    transition-duration: 500ms;
}

.form-button-company {
    flex-grow: 1;
}

.form-button:hover, .form-button-company:hover {
    background: rgba(55,191,96,0.91);

    transition-duration: 500ms;
}

.form-button-company.delete:hover {
    background: rgba(255,5,0,0.91);
}

.div-margin {
    width: 10px;
}

.modify { margin-right: 10px}

@media screen and (max-width: 900px) {

    #products {
        width: inherit;
        min-width: unset;
    }

    .product {
        flex-direction: row;

        width: -webkit-fill-available;
        min-height: 100px;
        height: auto !important;
        float: none;
    }

    .img-box {
        float: left;
        max-width: 150px;
        min-width: 150px;
    }

    .information {
        float: left;
        width: -webkit-fill-available;
        padding: 10px;
    }

    .description {
        white-space: normal;
    }

    .bought-div {
        align-items: flex-end;
        height: 66px;
    }
}
