* {
    color: rgba(255, 255, 255, 0.75);
}

.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.form-title {
    font-size: 100px;
    font-weight: bold;
}

.form-message {
    display: flex;
    color: rgba(200, 0, 0, 0.8);
    font-size: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.form-input {
    background: transparent;
    border: none;
    padding: 5px 5px 2px;
    width: -webkit-fill-available;
    font-size: 20px;
    font-family: Calibri;
    outline: none;
    transition-duration: 1000ms;
}

.status {
    height: 2px;
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    background: rgba(100, 100, 100, 0.4);
}

select {
    border-radius: 1px;
}

.submit {
    background: rgba(100, 100, 100, 0.2);
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    width: fit-content;
    margin: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    transition-duration: 500ms;
}

.submit:hover {
    background: rgba(68, 237, 122, 0.91);
    transition-duration: 500ms;
}

.form-text {
    margin-top: 5px;
    font-size: 10px;
}

.form-link {
    color: rgba(0, 149, 255, 0.91);
    text-decoration: none;
    transition-duration: 500ms;
}

.link:hover {
    color: rgba(33, 113, 255, 0.91);
    text-decoration: underline;
    transition-duration: 500ms;
}

@media screen and (max-width: 900px) {
    .navbar .navbar-menu-button,
    .header-menu-text {
        display: none !important;
    }
    .navbar .navbar-button,
    .navbar .navbar-button .header-menu-icon {
        display: flex !important;
    }
    .grid-container {
        justify-content: normal;
    }
    .container {
        margin: 10% 0;
    }
    #form {
        padding: 5% 0 20%;
        border-radius: 0;
    }
    .form-container {
        margin: 2%;
        max-width: 300px;
    }
    .form-title {
        font-size: 70px;
        margin-bottom: 5%;
    }
    .message,
    .text {
        font-size: 15px;
    }
    .form-textarea {
        font-size: 30px;
    }
    #submit {
        padding: 10px 130px;
        font-size: 25px;
    }
}