* {
    color: #cdd9e5;
}

.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.form-title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-message {
    display: flex;
    color: rgb(250, 56, 56);
    font-size: 20px;
}

.form-input {
    background: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 10vw;
    font-size: 20px;
    font-family: Calibri;
    outline: none;
    text-align: center;
    transition-duration: 1000ms;
}

select {
    border-radius: 1px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0);
    /*border: 1px solid #cdd9e5;*/
    border-radius: 4px;
    text-decoration: none;
    color: #cdd9e5;
    transition-duration: 500ms;
}

.submit:hover {
    color: rgba(68, 237, 122, 0.91);
    transition-duration: 500ms;
}

.form-text {
    margin-top: 5px;
    font-size: 10px;
}

.form-link {
    color: rgba(0, 149, 255, 0.91);
    text-decoration: none;
    font-size: 10px;
    transition-duration: 500ms;
}

.link:hover {
    color: rgba(33, 113, 255, 0.91);
    text-decoration: underline;
    transition-duration: 500ms;
}

#item-image {
    max-height: 200px;
    border-radius: 3px;
    z-index: -1;
}

.image-default {
    width: 200px;
    height: 200px;
}

#input-image {
    position: fixed;
    top: calc(192px + 10vh);
    opacity: 0;
    width: 355px;
    height: 200px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.form-button-image {
    display: flex;
    height: 200px;
    position: fixeddw;
    top: calc(192px + 10vh);
    width: 355px;
    background: rgb(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 600;
    opacity: 0;
    border-radius: 3px;
    transition-duration: 500ms;
}

#input-image:hover+.form-button-image {
    opacity: 1;
    transition-duration: 500ms;
}