body {
    background-color: #08AEEA;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}

#background {
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    position: absolute;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.filler {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header-menu-icon {
    margin-left: 0 !important;
}

.header-menu-text {
    display: none !important;
}

@media screen and (max-width: 900px) {
    .header-menu-icon {
        display: none !important;
    }
    .header-menu-text {
        display: flex !important;
    }
}


/*///////////////////////////////////////////////////////////*/


/*                     main, company, admin                  */


/*///////////////////////////////////////////////////////////*/

.grid-page {
    display: grid;
    grid-template-areas: 'navbar-main' 'page';
}

.navbar-main {
    grid-area: navbar-main;
}

.grid-container {
    display: grid;
    grid-area: page;
    grid-template-areas: 'menu main right' 'menu footer footer';
    gap: 10px;
    justify-content: space-evenly;
}

.grid-container .menu {
    grid-area: menu;
    min-width: 200px;
}

.main {
    grid-area: main;
}

.grid-container .right {
    grid-area: right;
    min-width: 200px;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-areas: 'header' 'menu' 'main' 'right' 'footer';
        gap: unset;
        justify-content: unset;
    }
    .right {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .right,
    .menu {
        display: flex;
        min-width: unset !important;
    }
}

@media screen and (max-width: 1505px) {
    .main {
        width: 840px;
    }
}