.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #2d333b;
    height: 62px;
}

.navbar-logo {
    margin: 15px;
    width: 40px;
    height: 40px;
    color: #cdd9e5;
}

.navbar-icon {
    width: 20px;
    height: 20px;
    color: #cdd9e5;
    transition-duration: 500ms;
}

.navbar-side-right {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.navbar-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0);
    /*border: 1px solid #cdd9e5;*/
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #cdd9e5;
    transition-duration: 500ms;
}

.navbar-button:hover .navbar-text,
.navbar-button:hover .navbar-icon {
    color: rgba(68, 237, 122, 0.91);
    transition-duration: 500ms;
}

.navbar-text {
    margin-right: 5px;
    transition-duration: 500ms;
}