.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.form-title {
    color: #cdd9e5;
    font-size: 50px;
}

.form-container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#input-image {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#input-image:hover+.form-button-image {
    opacity: 1;
    transition-duration: 500ms;
}

.form-button-image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: rgb(0, 0, 0, 0.2);
    color: #cdd9e5;
    opacity: 0;
    transition-duration: 500ms;
}

.icon {
    width: 20px;
    height: 20px;
    --ionicon-stroke-width: 40px;
    margin-left: 5px;
}

#item-image {
    height: 200px;
    z-index: -1;
}

.default {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 50px;
    background: rgb(0, 0, 0, 0.1);
    z-index: -1;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.field {
    margin-top: 10px;
}

.form-message {
    display: flex;
    color: rgb(250, 56, 56);
    font-size: 20px;
}

.form-input {
    background: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 10vw;
    color: #cdd9e5;
    outline: none;
    transition-duration: 1000ms;
}

select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

select option {
    color: #cdd9e5;
    background-color: #2d333b;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0);
    /*border: 1px solid #cdd9e5;*/
    border-radius: 4px;
    text-decoration: none;
    color: #cdd9e5;
    transition-duration: 500ms;
}

.submit:hover {
    color: rgba(68, 237, 122, 0.91);
    transition-duration: 500ms;
}

.form-text {
    margin-top: 5px;
    font-size: 10px;
}

.form-link {
    color: rgba(0, 149, 255, 0.91);
    text-decoration: none;
    font-size: 10px;
    transition-duration: 500ms;
}

.link:hover {
    color: rgba(33, 113, 255, 0.91);
    text-decoration: underline;
    transition-duration: 500ms;
}