.navbar-button.show-profile .header-menu-text.text-profile,
.navbar-button.show-profile .header-menu-icon.icon-profile {
    display: flex;
}

.navbar-button.show-profile .header-menu-text.text-product,
.navbar-button.show-profile .header-menu-icon.icon-product {
    display: none !important;
}

.navbar-button.show-product .header-menu-text.text-profile,
.navbar-button.show-product .header-menu-icon.icon-profile {
    display: none !important;
}

.navbar-button.show-product .header-menu-text.text-product,
.navbar-button.show-product .header-menu-icon.icon-product {
    display: flex;
}

#products {
    display: none;
}
