#profiles {
    padding: 10px;

    min-width: 840px;
    max-width: 1050px;
}

.profile {
    display: flex;
    flex-direction: column;
    float: left;

    box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 5px;

    width: 200px;
}

.username { font-weight: bold; }
.role { font-size: 12px}

.div-form.form-profile {
    align-items: flex-end;
    height: -webkit-fill-available;
}

@media screen and (max-width: 900px) {

    #profiles {
        width: inherit;
        min-width: unset;
    }

    .profile {
        flex-direction: row;

        width: -webkit-fill-available;
        min-height: 100px;
        height: auto !important;
        float: none;
    }
}